/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 a[href="admin.php?page=chilexpress_woo_oficial_generar_ot"] {
    display:none;
}

.chilexpress-modules-form small {
    color: #777;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 1em;
}
#toplevel_page_chilexpress_woo_oficial_menu .wp-submenu li:last-child a{
    display: none;
}

@media screen and (max-width: 782px) {
   .wc-backbone-modal .wc-backbone-modal-content {
       width: 100%;
       height: 100%;
       min-width: 100%;
   }
}


/* Estilos Tabs Seccion "Opciones Generales" */
ul.tabs {
   margin: 0;
   padding: 0;
   float: left;
   list-style: none;
   height: 32px; /*--Set height of tabs--*/
   border-bottom: 1px solid #999;
   border-left: 1px solid #999;
   /*width: 100%;*/
}
ul.tabs li {
   float: left;
   margin: 0;
   padding: 0;
   height: 31px; /*--Subtract 1px from the height of the unordered list--*/
   line-height: 31px; /*--Vertically aligns the text within the tab--*/
   border: 1px solid #999;
   border-left: none;
   margin-bottom: -1px; /*--Pull the list item down 1px--*/
   overflow: hidden;
   position: relative;
   background: #e0e0e0;
}
ul.tabs li a {
   text-decoration: none;
   color: #000;
   display: block;
   font-size: 1.2em;
   padding: 0 20px;
   border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
   outline: none;
}
ul.tabs li a:hover {
   background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
   background: #fff;
   border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}

/* Estilos Contenedor Seccion "Opciones Generales" */
.tab_container {
   border-top: none;
   overflow: hidden;
   clear: both;
   float: left; width: 100%;
}
.tab_content {
   padding: 20px;
   font-size: 1.2em;
}

/* Estilos Seccion "Habilitar Regiones y Comunas" */
.container-regiones-comunas {
   width: 600px;
   /*margin: auto;*/
   height: 500px;
   overflow-y: auto;
}

.container-regiones-comunas .ul-comunas{
   margin-left:30px; 
   font-size:10px;
}

.container-regiones-comunas .nombre-region {
   cursor: pointer;
}

.container-regiones-comunas .ul-comunas {
   display: none;
}

.container-regiones-comunas .check-todo {
   margin-bottom: 15px; 
   font-weight: bold; 
   font-size: 15px;
}

.widefat td.img.column-img {
    text-align: center;
}